{% extends 'shop/main.html' %}

{% block content %}
<div class="container full-height">
    <div class="d-flex justify-content-center align-items-center flex-column">
        <h2 class="sub-title pt-5">Register</h2>
        <form class="pt-5" action="" method="post" style="width:600px;">
            {% csrf_token %}
            <div class="form-error authorization-form fs-5">{{ form.non_field_errors }}</div>

            {% for f in form %}
                <p class="authorization-form fs-5">
                    <label for="{{ f.id_for_label }}" class="email authorization-form fs-5">{{f.label}}</label>{{f}}
                </p>
                <div class="form-error authorization-form fs-5">{{f.errors}}</div>
            {% endfor %}

            <button class="btn btn-dark btn-lg" style="margin: 0 auto; align-items: center;" type="submit">Register</button>
        </form>
    </div>
</div>
{% endblock %}