{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@700&family=Plus+Jakarta+Sans&family=Prata&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js">
    <link rel="stylesheet" href="{% static 'shop/css/styles.css' %}" type="text/css">
    <script src="https://kit.fontawesome.com/c8d82973fc.js" crossorigin="anonymous"></script>
    <title>{{ title }}</title>
</head>
<body>
{% comment %} Пост навигация {% endcomment %}
    <header>
        <nav class="navbar navbar-expand-lg justify-content-between" style="background: #F3F2EC;">
            <div class="container-fluid post-header">
                <div class="socials">
                    <i class="fa-brands fa-facebook me-3"></i>
                    <i class="fa-brands fa-instagram me-3"></i>
                    <i class="fa-brands fa-linkedin me-3"></i>
                    <i class="fa-brands fa-twitter me-3"></i>
                    <i class="fa-solid fa-b"></i>
                </div>
                <div class="navbar-collapse justify-content-end">
                    <ul class="navbar-nav mr-auto mb-3 mb-lg-0">
                        <li class="nav-item">
                            <a href="{% url 'login' %}" class="nav-link"><i class="fa-regular fa-user"></i> Account</a>
                        </li>
                        <li class="nav-item"><div class="vert-line"></div></li>
                        <li class="nav-item">
                            <a href="#" class="nav-link"><i class="fa-solid fa-cart-shopping"></i> Cart</a>
                        </li>
                        <li class="nav-item"><div class="vert-line"></div></li>
                        <li class="nav-item">
                            <a href="#" class="nav-link"><i class="fa-solid fa-magnifying-glass"></i> Search</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <hr>
    </header>
{% comment %} Header {% endcomment %}
    <section id="home" class="d-flex align-items-center justify-content-between pt-3">
        <div class="container-fluid">
            <header class="d-flex flex-wrap justify-content-center">
                <a href="/" class="d-flex align-items-center me-md-auto text-dark text-decoration-none">
                    <h1 class="title">BookSaw</h1>
                </a>
        
                <ul class="nav nav-pills align-items-center">
                    <li class="nav-item">
                        <a href="" class="nav-link menu-link p-0 me-5" aria-current="page">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link menu-link p-0 me-5">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link menu-link p-0 me-5">Pages</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link menu-link p-0 me-5">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link menu-link p-0 me-5">Articles</a>
                    </li>
                    <li class="nav-item">
                        <a href="#contact" class="nav-link menu-link p-0">Contact</a>
                    </li>
                </ul>
            </header>
            {% block content %}
{% comment %} Main Book {% endcomment %}
            <div class="row align-items-center main-books">
                <div class="col-1"><i class="fa-solid fa-arrow-left fa-xl arrow"></i></div>
                <div class="col">
                    <div class="name">Life of the wild</div>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu feugiat amet, libero ipsum enim pharetra hac. Urna commodo, lacus ut magna velit eleifend. Amet, quis urna, a eu.</p>
                    <button type="button" class="btn read-more">Read More ➜</button>
                    {% comment %} Пагинация {% endcomment %}
                    <nav>
                        <ul class="pagination">
                            <li class="page-item mr-circle-active">
                                <div class="circle-circle d-flex justify-content-center align-items-center">
                                    <i class="fa-solid fa-circle circle-active"></i>
                                </div>
                            </li>
                            <li class="page-item mr-circle">
                                <span aria-hidden="true"><i class="fa-solid fa-circle circle"></i></span>
                            </li>
                            <li class="page-item mr-circle">
                                <span aria-hidden="true"><i class="fa-solid fa-circle circle"></i></span>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col d-flex justify-content-center">
                    <img class="book-photo" src="{% static 'shop/img/book.png' %}" alt="">
                </div>
                <div class="d-flex col-1 justify-content-center"><i class="fa-solid fa-arrow-right fa-xl arrow"></i></div>
            </div>
        </div>
    </section>
{% comment %} Совместно {% endcomment %}
    <section id="associated" class="d-flex align-items-center justify-content-between">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col"><img src="{% static "shop/img/1.svg" %}" alt=""></div>
                <div class="col"><img src="{% static "shop/img/2.svg" %}" alt=""></div>
                <div class="col"><img src="{% static "shop/img/3.svg" %}" alt=""></div>
                <div class="col"><img src="{% static "shop/img/4.svg" %}" alt=""></div>
                <div class="col"><img src="{% static "shop/img/5.svg" %}" alt=""></div>
            </div>
        </div>
    </section>
{% comment %} Избранные книги {% endcomment %}
    <section id="featured-books" class="d-flex align-items-center justify-content-between">
        <div class="container-fluid">
            <p class="d-flex pre-title justify-content-center mb-2">Some Quality Items</p>
            <div class="d-flex align-items-center justify-content-between">
                <hr class="hr-small">
                <h1 class="sub-title">Featured Books</h1>
                <hr class="hr-small">
            </div>
            <div class="d-flex cards justify-content-between flex-direction-row flex-nowrap">
                {% for book in feature_books %}
                    <div class="book-card">
                        <div class="card card-background">
                            <img src="{{book.photo.url}}" alt="">
                        </div>
                        <p class="name-book mt-4">{{ book.title }}</p>
                        <p class="author-book">{{ book.author }}</p>
                        <p class="price">$ {{ book.price }}.00</p>
                    </div>
                {% endfor %}
            </div>
            <hr>
            <nav>
                <ul class="pagination d-flex justify-content-center align-items-center">
                    <li class="page-item mr-circle-active">
                        <div class="circle-circle d-flex justify-content-center align-items-center">
                            <i class="fa-solid fa-circle circle-active"></i>
                        </div>
                    </li>
                    <li class="page-item mr-circle">
                        <span aria-hidden="true"><i class="fa-solid fa-circle circle"></i></span>
                    </li>
                    <li class="page-item mr-circle">
                        <span aria-hidden="true"><i class="fa-solid fa-circle circle"></i></span>
                    </li>
                    <li class="page-item ms-auto">
                        <a href="{% url 'all-books' %}" class="all-products text-decoration-none">View all products ➜</a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
{% comment %} Самая продаваемая книга {% endcomment %}
    <section id="best-selling" class="d-flex align-items-center">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col d-flex justify-content-center p-0">
                    <img src="{% static "shop/img/best-book.png" %}" alt="">
                </div>
                <div class="col">
                    <div class="sub-title best-selling">Best Selling Book</div>
                    <img src="{% static "shop/img/wave-line.svg" %}" alt="">
                    <p class="best-selling-author">By Timbur Hood</p>
                    <p class="best-book-title">Birds gonna be happy</p>
                    <p class="description mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu feugiat amet, libero ipsum enim pharetra hac.</p>
                    <p class="best-book-price mb-5">$ 45.00</p>
                    <a href="#" class="shop-now">Shop It Now ➜</a>
                </div>
            </div>
        </div>
    </section>
{% comment %} Популярные книги {% endcomment %}
    <section id="popular-books" class="d-flex align-items-center justify-content-center">
        <div class="container-fluid">
            <p class="pre-title d-flex justify-content-center mb-2">Some Quality Items</p>
            <div class="d-flex align-items-center justify-content-between">
                <hr class="hr-small">
                <h1 class="sub-title">Popular Books</h1>
                <hr class="hr-small">
            </div>
            <div class="categories d-flex justify-content-center mt-5">
                <div class="category-block">
                    <a href="#" class="category category-active">All Genre</a>
                    <hr class="hr-category">
                </div>
                <div class="category-block">
                    <a href="#" class="category">Business</a>
                </div>
                <div class="category-block">
                    <a href="#" class="category">Technology</a>
                </div>
                <div class="category-block">
                    <a href="#" class="category">Adventure</a>
                </div>
                <div class="category-block">
                    <a href="#" class="category">Romantic</a>
                </div>
                <div class="category-block me-0">
                    <a href="#" class="category">Fictional</a>
                </div>
            </div>
            <div class="d-flex cards justify-content-between flex-direction-row flex-wrap">
                {% for book in pop_books %}
                    <div>
                        <div class="card card-background">
                            <img src="{{book.photo.url}}" alt="">
                        </div>
                        <p class="name-book mt-4">{{ book.title }}</p>
                        <p class="author-book">{{ book.author }}</p>
                        <p class="price">$ {{ book.price }}.00</p>
                    </div>
                {% endfor %}
            </div>
            <hr style="width: 1420px; margin-bottom: 180px">
            <div class="justify-content-center">
                <div class="sub-title text-center">Quote Of The Day</div>
                <img style="margin-left: 49%;" src="{% static "shop/img/wave-line.svg" %}" alt="">
                {% for quote in quotes %}
                    <p class="quote mb-4">“{{ quote.quote }}“</p>
                    <p class="quote-author">{{ quote.author_quote }}</p>
                {% endfor %}
            </div>
        </div>
    </section>
{% comment %} Книги по скидке {% endcomment %}
    <section id="featured-books" class="d-flex align-items-center justify-content-center" style="background: #EDEBE4;">
        <div class="container-fluid">
            <p class="pre-title d-flex justify-content-center mb-2">Grab your opportunity</p>
            <div class="d-flex align-items-center justify-content-between">
                <hr class="hr-small">
                <h1 class="sub-title">Books with offer</h1>
                <hr class="hr-small">
            </div>
            <div class="d-flex cards justify-content-between flex-direction-row flex-nowrap">
                <div class="carda">
                    <div class="card card-background">
                        <img src="{% static "shop/img/book2.png" %}" alt="">
                    </div>
                    <p class="name-book mt-4">Simple Way of Piece Life</p>
                    <p class="author-book">Armor Ramsey</p>
                    <div class="d-flex justify-content-center">
                        <p class="price old"><del>$ 50.00</del></p>
                        <p class="price new">$ 40.00</p>
                    </div>
                </div>
                <div class="carda">
                    <div class="card card-background">
                        <img src="{% static "shop/img/book2.png" %}" alt="">
                    </div>
                    <p class="name-book mt-4">Great travel at desert</p>
                    <p class="author-book">Sanchit Howdy</p>
                    <div class="d-flex justify-content-center">
                        <p class="price old"><del>$ 40.00</del></p>
                        <p class="price new">$ 35.00</p>
                    </div>
                </div>
                <div class="carda">
                    <div class="card card-background">
                        <img src="{% static "shop/img/book3.png" %}" alt="">
                    </div>
                    <p class="name-book mt-4">The lady beauty Scarlett</p>
                    <p class="author-book">Arthur Doyle</p>
                    <div class="d-flex justify-content-center">
                        <p class="price old"><del>$ 45.00</del></p>
                        <p class="price new">$ 36.00</p>
                    </div>
                </div>
                <div class="carda">
                    <div class="card card-background">
                        <img src="{% static "shop/img/book4.png" %}" alt="">
                    </div>
                    <p class="name-book mt-4">Once upon a time</p>
                    <p class="author-book">Klien Marry</p>
                    <div class="d-flex justify-content-center">
                        <p class="price old"><del>$ 45.00</del></p>
                        <p class="price new">$ 32.00</p>
                    </div>
                </div>
            </div>
            <hr>
            <nav>
                <ul class="pagination d-flex justify-content-center align-items-center">
                    <li class="page-item mr-circle-active">
                        <div class="circle-circle d-flex justify-content-center align-items-center">
                            <i class="fa-solid fa-circle circle-active"></i>
                        </div>
                    </li>
                    <li class="page-item mr-circle">
                        <span aria-hidden="true"><i class="fa-solid fa-circle circle"></i></span>
                    </li>
                    <li class="page-item mr-circle">
                        <span aria-hidden="true"><i class="fa-solid fa-circle circle"></i></span>
                    </li>
                    <li class="page-item ms-auto">
                        <a href="{% url 'all-books' %}" class="all-products text-decoration-none">View all products ➜</a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
    <hr>
{% comment %} Subscribe {% endcomment %}
    <section id="subscribe-page" class="d-flex align-items-center">
        <div class="container">
            <div class="row d-flex">
                <div class="col">
                    <h1 id="contact" class="sub-title text-start">Subscribe to <br> our newsletter</h1>
                    <img src="{% static "shop/img/wave-line.svg" %}" alt="">
                </div>
                <div class="col">
                    <p class="description mb-5">Sed eu feugiat amet, libero ipsum enim pharetra hac dolor sit amet, consectetur. Elit adipiscing enim pharetra hac.</p>
                    <div class="d-flex">
                        <div class="email-form d-flex align-items-center">
                            <input type="email" id="email" pattern=".+@globex\.com" size="30" placeholder="Enter your email address here" required>
                            <p type="submit" class="send mb-0">send <i class="fa-regular fa-paper-plane"></i></p>
                        </div>
                    </div>
                    <hr style="width: 400px;">
                </div>
            </div>
        </div>
    </section>
{% comment %} footer {% endcomment %}
    <footer>
        <div class="container">
            <div class="row p-0">
                <div class="col">
                    <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
                        <h1 class="title m-0">BookSaw</h1>
                    </a>
                </div>
                <div class="col">
                </div>
                <div class="col">
                    <h5>About us</h5>
                    <ul class="nav flex-column mb-5">
                        <li class="nav-item footer-article"><a href="#" class="nav-link p-0 text-muted">Vision</a></li>
                        <li class="nav-item footer-article"><a href="#" class="nav-link p-0 text-muted">Article</a></li>
                        <li class="nav-item footer-article"><a href="#" class="nav-link p-0 text-muted">Careers</a></li>
                        <li class="nav-item footer-article"><a href="#" class="nav-link p-0 text-muted">Service Terms</a></li>
                        <li class="nav-item footer-article"><a href="#" class="nav-link p-0 text-muted">Donate</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h5>Discover</h5>
                    <ul class="nav flex-column mb-5">
                        <li class="nav-item footer-article"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                        <li class="nav-item footer-article"><a href="#" class="nav-link p-0 text-muted">Books</a></li>
                        <li class="nav-item footer-article"><a href="#" class="nav-link p-0 text-muted">Author</a></li>
                        <li class="nav-item footer-article"><a href="#" class="nav-link p-0 text-muted">Subjects</a></li>
                        <li class="nav-item footer-article"><a href="#" class="nav-link p-0 text-muted">Advanced Search</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h5>My account</h5>
                    <ul class="nav flex-column mb-5">
                        <li class="nav-item footer-article"><a href="#" class="nav-link p-0 text-muted">Sign in</a></li>
                        <li class="nav-item footer-article"><a href="#" class="nav-link p-0 text-muted">View cart</a></li>
                        <li class="nav-item footer-article"><a href="#" class="nav-link p-0 text-muted">My wishlist</a></li>
                        <li class="nav-item footer-article"><a href="#" class="nav-link p-0 text-muted">Track my order</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h5>Help</h5>
                    <ul class="nav flex-column mb-5">
                        <li class="nav-item footer-article"><a href="#" class="nav-link p-0 text-muted">Help Center</a></li>
                        <li class="nav-item footer-article"><a href="#" class="nav-link p-0 text-muted">Report a problem</a></li>
                        <li class="nav-item footer-article"><a href="#" class="nav-link p-0 text-muted">Suggesting edits</a></li>
                        <li class="nav-item footer-article"><a href="#" class="nav-link p-0 text-muted">Contact us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <hr>
    <section id="all-right-reserved">
        <div class="container">
            <div class="d-flex justify-content-between">
                <h3 class="all-rights-text">© 2021 Templates Jungle. All rights reserved.</h3>
                <div class="socials">
                    <i class="fa-brands fa-facebook me-3"></i>
                    <i class="fa-brands fa-instagram me-3"></i>
                    <i class="fa-brands fa-linkedin me-3"></i>
                    <i class="fa-brands fa-twitter me-3"></i>
                    <i class="fa-solid fa-b"></i>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
</body>
</html>